[submodule "extern/VulkanMemoryAllocator"]
	path = extern/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "extern/vk-bootstrap"]
	path = extern/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap
